<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="srsmeeting.iconpln.net.id.srsmeeting" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="id.net.iconpln.meetings.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="id.net.iconpln.meetings.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="id.net.iconpln.meetings.Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="id.net.iconpln.meetings.Dokumen"
            android:label="@string/title_activity_dokumen" >
        </activity>
        <activity
            android:name="id.net.iconpln.meetings.LupaPassword"
            android:label="Lupa Password" />
        <activity
            android:name="id.net.iconpln.meetings.daftar_rapat"
            android:label="@string/title_activity_daftar_rapat" >
        </activity>
        <activity
            android:name="id.net.iconpln.meetings.Beranda"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="id.net.iconpln.meetings.Manage_rapat"
            android:label="@string/title_activity_manage_rapat" >
        </activity>
        <activity
            android:name="id.net.iconpln.meetings.managePesertaRapat"
            android:label="@string/title_activity_manage_peserta_rapat" >
        </activity>
    </application>

</manifest>
